# Entorno virtual
env/

# Base de datos
db.sqlite3

# Archivos Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos estáticos de producción
staticfiles/

# Variables de entorno
.env

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini